# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Client build
client/build/
# Env files
*.env
server/.env
client/.env
# VSCode
.vscode/
# Coverage and test artifacts
coverage/
# Mac/Windows files
.DS_Store
Thumbs.db
